<div class="card-container">
  <div class="card">
    <h2>Dados da Conta</h2>

    <div class="info-container">
      <div class="info">
        <p>
          <strong>Nome:&nbsp;</strong>
          <span>{{ hostDto?.firstName }} {{ hostDto?.lastName }}</span>
        </p>
        <button (click)="onOpenEditNameModal()" class="btn-primary">
          <span class="material-icons">edit</span>
        </button>
      </div>

      <div class="info">
        <p>
          <strong>Senha:&nbsp;</strong>
          <span>******</span>
        </p>
        <button (click)="onOpenUpdatePasswordModal()" class="btn-primary">
          <span class="material-icons">edit</span>
        </button>
      </div>

      <div class="info">
        <p>
          <strong>E-mail:&nbsp;</strong>
          <span>{{ hostDto?.username }}</span>
        </p>
        <button class="btn-primary btn-placeholder">
          <span class="material-icons">edit</span>
        </button>
      </div>
    </div>

    <div class="actions">
      <button (click)="onOpenDeleteAccountModal()" class="btn-primary">
        <span class="material-icons">delete</span>
        <span class="btn-text">Excluir</span>
      </button>
    </div>
  </div>
</div>
