<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2>Download de Fotos</h2>
      </div>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div *ngIf="selectedPhotos.length == 0" class="body">
      <p>Deseja fazer o download de todas as fotos disponíveis?</p>
    </div>
    <div *ngIf="selectedPhotos.length > 0" class="body">
      <p>
        Deseja fazer o download das
        <span>{{ selectedPhotos.length }}</span> fotos selecionadas?
      </p>
    </div>
    <div class="actions">
      <button class="btn-secondary" (click)="onDownload()">
        <span class="bnt-text">Confirmar</span>
      </button>
      <button class="btn-primary" (click)="onClose()">
        <span class="bnt-text">Cancelar</span>
      </button>
    </div>
  </div>
</dialog>
