.header {
  padding: 20px 120px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid var(--border-color);
    padding-bottom: 20px;
  }

  .brand {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Pacifico", cursive;
    font-style: normal;
  }
}
