.modal-primary {
  .modal-content {
    .modal-body {
      .form-group {
        input {
          margin-bottom: 20px;
        }
      }
    }

    .modal-actions {
      display: flex;

      button {
        flex: 1;
      }
    }
  }
}
