<div (click)="onClose()" class="modal">
  <div (click)="$event.stopPropagation()" class="content">
    <div class="header">
      <h2 class="title">Recuperação de Senha</h2>
      <button (click)="onClose()" class="btn-primary">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="body">
      <ng-container
        *ngIf="!isEmailSent && !isCodeSent; then emailTemplate"
      ></ng-container>
      <ng-container
        *ngIf="isEmailSent && !isCodeSent; then codeTemplate"
      ></ng-container>
      <ng-container
        *ngIf="isEmailSent && isCodeSent; then passwordTemplate"
      ></ng-container>
    </div>

    <div class="actions">
      <ng-container *ngIf="!isEmailSent && !isCodeSent">
        <button
          (click)="onSendEmail()"
          [disabled]="!email"
          class="btn-secondary"
        >
          <span class="btn-text">Enviar Código de Recuperação</span>
        </button>
      </ng-container>

      <ng-container *ngIf="isEmailSent && !isCodeSent">
        <button
          (click)="onSendCode()"
          [disabled]="!email || code == ''"
          class="btn-secondary"
        >
          <span class="btn-text">Definir Nova Senha</span>
        </button>
      </ng-container>

      <ng-container *ngIf="isEmailSent && isCodeSent">
        <button
          (click)="onResetPassword()"
          [disabled]="!newPassword || newPassword !== confirmNewPassword"
          class="btn-secondary"
        >
          <span class="btn-text">Salvar</span>
        </button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #emailTemplate>
  <div class="form-group">
    <input
      (keydown.enter)="email && onSendEmail()"
      [(ngModel)]="email"
      placeholder="Email"
      type="text"
    />
  </div>
</ng-template>

<ng-template #codeTemplate>
  <div class="form-group">
    <input
      (keydown.enter)="code && onSendCode()"
      [(ngModel)]="code"
      placeholder="Código recebido no Email"
      type="text"
    />
  </div>
</ng-template>

<ng-template #passwordTemplate>
  <div class="form-group">
    <input
      (keydown.enter)="newPassword && confirmNewPassword && onResetPassword()"
      [(ngModel)]="newPassword"
      placeholder="Nova Senha"
      type="password"
    />
  </div>
  <div class="form-group">
    <input
      (keydown.enter)="newPassword && confirmNewPassword && onResetPassword()"
      [(ngModel)]="confirmNewPassword"
      placeholder="Confirmar Nova Senha"
      type="password"
    />
  </div>
</ng-template>
