.modal {
  .content {
    .body {
      .form-group:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .actions {
      .btn-primary {
        border: 1px solid var(--accent-color);

        &:hover {
          background: var(--accent-hover);
        }
      }
    }
  }
}
