<app-admin-header></app-admin-header>

<ng-container *ngIf="!loadingHolderService.isLoading; else loading">
  <div class="container">
    <div class="event-list">
      <app-add-event-card
        (toggleCreateEventModal)="toggleCreateEventModal()"
      ></app-add-event-card>

      <app-event-card
        *ngFor="let event of eventList"
        [event]="event"
        (toggleEventHostsModal)="toggleEventHostsModal($event)"
        (toggleEditEventModal)="toggleEditEventModal($event)"
        (toggleDeleteEventModal)="toggleDeleteEventModal($event)"
      >
      </app-event-card>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<app-delete-event-modal
  *ngIf="showDeleteEventModal"
  [eventDto]="selectedEvent"
  (emitClose)="closeDeleteEventModal()"
  (emitDeleteEvent)="deleteEvent($event)"
></app-delete-event-modal>

<app-edit-event-modal
  *ngIf="showEditEventModal"
  [eventDto]="selectedEvent"
  (emitClose)="closeEditEventModal()"
  (emitEditEvent)="editEvent($event)"
></app-edit-event-modal>

<app-create-event-modal
  *ngIf="showCreateEventModal"
  (emitClose)="closeCreateEventModal()"
  (emitCreateEvent)="createEvent($event)"
></app-create-event-modal>

<app-event-hosts-modal
  *ngIf="showEventHostsModal"
  [event]="selectedEvent"
  (emitClose)="closeEventHostsModal()"
  (emitSaveCoHostsEvent)="saveCoHosts()"
></app-event-hosts-modal>
