<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2>Adicionar Evento</h2>
      </div>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="body">
      <div class="form-group">
        <input type="text" [(ngModel)]="name" placeholder="Nome do evento" />
      </div>
      <div class="form-group">
        <label for="startDate" class="input-label"
          >Data e hora de início</label
        >
        <input
          id="startDate"
          type="datetime-local"
          [(ngModel)]="startDate"
          placeholder="Selecione a data e hora de início"
        />
      </div>
      <div class="form-group">
        <label for="endDate" class="input-label">Data e hora de término</label>
        <input
          id="endDate"
          type="datetime-local"
          [(ngModel)]="endDate"
          placeholder="Selecione a data e hora de término"
        />
      </div>
    </div>

    <div class="actions">
      <button
        class="btn-secondary"
        (click)="onSave()"
        [disabled]="
          !name ||
          !startDate ||
          !endDate ||
          (startDate && endDate && endDate <= startDate)
        "
      >
        <span class="btn-text">Salvar</span>
      </button>
      <button class="btn-primary" (click)="onClose()">
        <span class="btn-text">Cancelar</span>
      </button>
    </div>
  </div>
</dialog>
