<nav class="dashboard-nav">
  <ng-container *ngIf="!isAdmin; else admin">
    <a
      routerLink="/event"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="btn-text">Fotos do Evento</span>
    </a>
    <a
      routerLink="/match"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="btn-text">Fotos com Você</span>
    </a>
  </ng-container>

  <ng-template #admin>
    <a
      routerLink="/admin/events"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="btn-text">Eventos</span>
    </a>
    <a
      routerLink="/admin/account"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="btn-text">Minha Conta</span>
    </a>
  </ng-template>

  <a href="javascript:void(0)" (click)="openLogoutModal()">
    <span class="btn-text">Sair</span>
  </a>
</nav>

<app-confirmation-modal
  *ngIf="showLogoutModal"
  [title]="'Deixar o evento'"
  [text]="
    'Você realmente deseja sair? Sua sessão será encerrada e será necessário fazer login novamente.'
  "
  (emitClose)="closeLogoutModal()"
  (emitConfirm)="confirmLogout()"
></app-confirmation-modal>
