<nav class="dashboard-nav">
  <ng-container *ngIf="!isAdmin; else admin">
    <button class="btn-primary" (click)="navigateToPhotos()">
      <span class="material-icons">photo_library</span>
      <span class="btn-text">Fotos do Evento</span>
    </button>
    <button class="btn-primary" (click)="navigateToFaceMatch()">
      <span class="material-icons">face</span>
      <span class="btn-text">Fotos com Você</span>
    </button></ng-container
  >
  <ng-template #admin>
    <button class="btn-primary" (click)="navigateToEvents()">
      <span class="material-icons">event</span>
      <span class="btn-text">Eventos</span>
    </button>
    <button class="btn-primary" (click)="navigateToMyAccount()">
      <span class="material-icons">person</span>
      <span class="btn-text">Minha Conta</span>
    </button></ng-template
  >
  <button class="btn-primary" (click)="openLogoutModal()">
    <span class="material-icons">logout</span>
    <span class="btn-text">Sair</span>
  </button>
</nav>

<app-confirmation-modal
  *ngIf="showLogoutModal"
  [title]="'Deixar o evento'"
  [text]="'Você realmente deseja sair? Sua sessão será encerrada e será necessário fazer login novamente.'"
  (emitClose)="closeLogoutModal()"
  (emitConfirm)="confirmLogout()"
></app-confirmation-modal>
