.gallery-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  z-index: 1000;

  .slider-container {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 300px;
    background: var(--background-color);
    padding: 5px;
    border-radius: var(--standard-border-radius);

    input[type="range"] {
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      outline: none;
    }

    /* Chrome, Safari e Opera */
    input[type="range"]::-webkit-slider-thumb {
      position: relative;
      top: -4px;
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background: var(--accent-color);
      border-radius: 50%;
      cursor: pointer;
    }

    /* Firefox */
    input[type="range"]::-moz-range-thumb {
      position: relative;
      top: -4px;
      width: 14px;
      height: 14px;
      background: var(--accent-color);
      border-radius: 50%;
      cursor: pointer;
    }

    /* Estilização da trilha (track) para Chrome */
    input[type="range"]::-webkit-slider-runnable-track {
      height: 4px;
      background: var(--secondary-background-color);
      border-radius: 2px;

      &:hover {
        cursor: pointer;
      }
    }

    /* Estilização da trilha para Firefox */
    input[type="range"]::-moz-range-track {
      height: 4px;
      background: var(--secondary-background-color);
      border-radius: 2px;

      &:hover {
        cursor: pointer;
      }
    }

    .btn-primary {
      color: var(--accent-color);
    }

    .small-icon {
      font-size: 1rem;
    }

    .large-icon {
      font-size: 2rem;
    }
  }

  .action-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background: var(--background-color);
    border-radius: var(--standard-border-radius);

    .btn-primary {
      color: var(--accent-color);

      .material-icons {
        font-size: 1.2rem;
      }

      &:disabled {
        border: none;
        color: var(--secondary-text-color);
      }

      img {
        border: 1px solid var(--accent-color);
        border-radius: var(--standard-border-radius);
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }

    .download-button {
      position: relative;

      .badge {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--attention-color);
        color: var(--text-color);
        border-radius: 50%;
        padding: 3px 5px;
        font-size: 0.5rem;
      }
    }
  }
}
