<div class="wrapper">

  <app-header [showNav]="true" [event]="event"></app-header>

  <ng-container *ngIf="!loadingHolderService.isLoading; else loading">
    <div class="container">
      <app-event-photo-gallery
        [event]="event"
        [photos]="photos"
        [selectedPhotos]="selectedPhotos"
        (openUploadModal)="openUploadModal()"
        (openDownloadModal)="openDownloadModal()"
        (emitSelectedPhotos)="updateSelectedPhotosList($event)"
      ></app-event-photo-gallery>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <app-upload-photo-modal
    *ngIf="showUploadModal"
    [eventDto]="event"
    (emitClose)="closeUploadModal()"
  ></app-upload-photo-modal>

  <app-download-photos-modal
    *ngIf="showDownloadModal"
    [selectedPhotos]="selectedPhotos"
    (emitClose)="closeDownloadModal()"
    (emitDownloadPhotos)="downloadPhotos($event)"
  ></app-download-photos-modal>

  <app-error-modal
    *ngIf="showErrorModal"
    [title]="errorTitle"
    [text]="errorText"
    (emitClose)="closeErrorModal()"
  ></app-error-modal>

</div>
