<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2>Deletar Evento</h2>
      </div>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div class="body">
      <p>Você tem certeza que deseja excluir o evento e suas fotos?</p>
    </div>
    <div class="actions">
      <button class="btn-secondary" (click)="onDelete()">
        <span>Sim</span>
      </button>
      <button class="btn-primary" (click)="onClose()">
        <span>Não</span>
      </button>
    </div>
  </div>
</dialog>
