<div class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <h2 class="title">Editar Nome</h2>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="body">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="editFirstName"
          placeholder="Primeiro Nome"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="editLastName"
          placeholder="Último Nome"
        />
      </div>
    </div>

    <div class="actions">
      <button class="btn-secondary" (click)="onSave()">
        <span class="btn-text">Salvar</span>
      </button>
      <button class="btn-primary" (click)="onClose()">
        <span class="btn-text">Cancelar</span>
      </button>
    </div>
  </div>
</div>
