.modal {
  .content {
    .upload-input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      width: 100%;

      .file-container {
        width: 100%;

        .file-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .file-name {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 10px;
          }
        }
      }

      .btn-primary {
        color: var(--accent-color);
      }

      .btn-primary:disabled {
        color: var(--secondary-text-color);
        border: none;
      }
    }

    .actions {
      .btn-primary {
        border: 1px solid var(--accent-color);

        &:hover {
          background: var(--accent-hover);
        }
      }
    }
  }
}
