<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2>Enviar Foto</h2>
      </div>
      <button class="btn-primary" (click)="onClose()" title="Fechar">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="body" *ngIf="selectedFiles.length === 0">
      <p>Selecione as fotos que deseja enviar para o evento.</p>
    </div>

    <div class="upload-input-group" *ngIf="!isUploading">
      <div class="file-container">
        <ng-container *ngIf="selectedFiles.length > 0; else selectFile">
          <div class="file-info">
            <p>{{ selectedFiles.length }} arquivos selecionados</p>
            <button
              class="btn-primary"
              (click)="onClearFiles()"
              title="Remover todos os arquivos"
            >
              <span class="material-icons">delete</span>
            </button>
          </div>
        </ng-container>
        <ng-template #selectFile>
          <div class="no-file">
            <label class="btn-secondary" for="fileInput"
              >Selecionar Arquivos</label
            >
            <input
              id="fileInput"
              type="file"
              (change)="onFileSelected($event)"
              multiple
              hidden
            />
          </div>
        </ng-template>
      </div>
    </div>

    <div class="body" *ngIf="isUploading">
      <p>{{ uploadProgress }} / {{ selectedFiles.length }} arquivos enviados</p>
      <progress
        [value]="uploadProgress"
        [max]="selectedFiles.length"
      ></progress>
    </div>

    <div class="actions">
      <button
        class="btn-secondary"
        (click)="onUpload()"
        [disabled]="selectedFiles.length === 0 || isUploading"
        title="Enviar arquivos"
      >
        <span class="material-icons">file_upload</span>
        <span class="btn-text">Enviar</span>
      </button>
      <button
        class="btn-primary"
        (click)="onClose()"
        [disabled]="isUploading"
        title="Cancelar"
      >
        <span>Cancelar</span>
      </button>
    </div>
  </div>
</dialog>
