.modal {
  .content {
    .body {
      progress {
        appearance: none;
        width: 80%;
        height: 10px;
        border-radius: var(--standard-border-radius);
        background-color: var(--backgorund-color);
        overflow: hidden;
        border: none;

        &::-webkit-progress-bar {
          border-radius: var(--standard-border-radius);
          background-color: var(--backgorund-color);
        }

        &::-webkit-progress-value {
          background: linear-gradient(
            90deg,
            var(--accent-color),
            var(--accent-hover)
          );
          border-radius: var(--standard-border-radius);
          transition: width 0.3s ease-in-out;
        }

        &::-moz-progress-bar {
          background: linear-gradient(
            90deg,
            var(--accent-color),
            var(--accent-hover)
          );
          border-radius: var(--standard-border-radius);
          transition: width 0.3s ease-in-out;
        }
      }
    }

    .upload-input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      width: 100%;

      .file-container {
        width: 100%;

        .file-info {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: var(--secondary-text-color);
        }
      }

      .btn-primary {
        color: var(--accent-color);
        margin-left: 10px;
      }
    }

    .actions {
      .btn-primary {
        border: 1px solid var(--accent-color);

        &:hover {
          background: var(--accent-hover);
        }
      }
    }
  }
}
