<ng-container *ngIf="event">
  <div class="event-dates">
    <time class="chip" [attr.datetime]="event.startDate">
      <i class="material-icons">event</i>
      {{ event.startDate | date : "dd/MM/yyyy" }}
      <small>{{ event.startDate | date : "hh:mm a" }}</small>
    </time>
    <span class="separator">–</span>
    <time class="chip" [attr.datetime]="event.endDate">
      <i class="material-icons">event</i>
      {{ event.endDate | date : "dd/MM/yyyy" }}
      <small>{{ event.endDate | date : "hh:mm a" }}</small>
    </time>
  </div>
</ng-container>
