.event-dates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .chip {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    font-size: 0.8rem;
    color: var(--background-color);

    .material-icons {
      font-size: 1rem;
      margin-right: 4px;
      color: var(--attention-color);
    }

    small {
      margin-left: 4px;
      color: var(--secondary-text-color);
    }
  }

  .separator {
    font-size: 1rem;
    color: var(--background-color);
  }
}

/* CSS class to hide content but keep element's space */
.invisible {
  visibility: hidden;
}
