<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2>Bloquear Usuários</h2>
      </div>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div *ngIf="selectedPhotos.length == 0" class="body">
      <p>Nenhuma foto foi selecionada.</p>
    </div>
    <div *ngIf="selectedPhotos.length > 0" class="body">
      <p>
        Deseja bloquear os usuários e endereços IP responsáveis pelo envio das
        <strong>{{ selectedPhotos.length }}</strong> fotos selecionadas,
        impedindo novos envios?
      </p>
    </div>
    <div *ngIf="selectedPhotos.length > 0" class="actions">
      <button class="btn-secondary" (click)="onBlock()">
        <span class="bnt-text">Confirmar</span>
      </button>
      <button class="btn-primary" (click)="onClose()">
        <span class="bnt-text">Cancelar</span>
      </button>
    </div>
  </div>
</dialog>
