.card {
  h2 {
    margin-bottom: 20px;
  }

  .btn-secondary {
    width: 100%;
  }

  .form-group {
    input {
      margin-bottom: 20px;
    }
  }

  .forgot-text {
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 10px;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
