.modal {
  .content {
    .body {
      .cohosts-list {
        margin-bottom: 10px;

        .cohost-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2px 0 2px 2px;

          .cohost-name {
            color: var(--text-color);
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .btn-primary {
            color: var(--accent-color);
          }
        }
      }

      .add-cohost {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        input.input-error {
          border: 1px solid var(--attention-color);
        }

        .btn-primary {
          color: var(--accent-color);
          .material-icons {
            font-size: 1rem;
            font-weight: 800;
          }
        }
      }
    }

    .actions {
      .btn-primary {
        border: 1px solid var(--accent-color);

        &:hover {
          background: var(--accent-hover);
        }
      }
    }
  }
}
