<dialog class="modal" (click)="onClose()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="title">
        <h2 *ngIf="title">{{ title }}</h2>
      </div>
      <button class="btn-primary" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div class="body">
      <p *ngIf="text" >{{ text }}</p>
    </div>
    <div class="actions">
      <button class="btn-primary" (click)="onClose()">
        <span>Cancelar</span>
      </button>
    </div>
  </div>
</dialog>
