.gallery {
  display: grid;

  .photo-card {
    border: 4px solid transparent;
    transition: border 0.2s;
    border-radius: 8px;

    &.selected {
      border: 4px solid var(--accent-color);
      border-radius: 8px;
    }

    .photo-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      aspect-ratio: 3 / 2;
      border-radius: var(--standard-border-radius);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
      }
    }

    .bounding-box {
      position: absolute;
      border: 1.5px solid red;
      pointer-events: none;
    }

    &:hover img {
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}

.no-photos-message {
  text-align: center;
  color: var(--secondary-text-color);
  padding: 20px;
  font-size: 1.2rem;
}
