<ng-container *ngIf="matchedPhotos.length > 0; else noPhotosOrNoUploaded">
  <div
    class="gallery"
    [style.gridTemplateColumns]="
      'repeat(' + itemsPerRowHolderService.photosPerRow + ', 1fr)'
    "
    [style.gridGap]="galleryGap"
  >
    <div
      class="photo-card"
      *ngFor="
        let photo of matchedPhotos;
        let i = index;
        trackBy: trackByPhotoId
      "
      (click)="onPhotoClick(i)"
      [class.selected]="isPhotoSelected(photo)"
    >
      <input
        type="checkbox"
        class="photo-select-checkbox"
        [checked]="isPhotoSelected(photo)"
        (click)="onPhotoSelection(photo); $event.stopPropagation()"
      />
      <div class="photo-container">
        <img
          [src]="photo.photoUrl | photoUrl"
          [alt]="photo.description || 'Photo ' + i"
          (load)="onImageLoad($event, i)"
        />
        <div
          *ngIf="showBoundingBox"
          class="bounding-box"
          [ngStyle]="getBoundingBoxStyle(photo, i)"
        ></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noPhotosOrNoUploaded>
  <ng-container
    *ngIf="matchedFaceHolderService.selectedFile; else noUploadedPhotos"
  >
    <div class="no-photos-message">
      Nenhuma foto encontrada com o seu rosto.
    </div>
  </ng-container>
</ng-template>

<ng-template #noUploadedPhotos>
  <div class="send-photo-message">
    <div class="no-matching-photos-message">
      Envie uma foto do seu rosto (por exemplo, uma selfie) para que possamos
      encontrar fotos onde você aparece.
    </div>
    <button class="btn-primary" (click)="onUpload()">
      <span class="material-icons">photo_camera</span>
    </button>
  </div>
</ng-template>

<app-matched-faces-gallery-toolbar
  [matchedPhotos]="matchedPhotos"
  [selectedPhotos]="selectedPhotos"
  [showBoundingBox]="showBoundingBox"
  (openDownloadPhotos)="onDownload()"
  (openUploadModal)="onUpload()"
  (toggleBoundingBox)="toggleBoundingBox()"
></app-matched-faces-gallery-toolbar>

<app-photo-preview
  *ngIf="showPhotoPreview"
  [photos]="matchedPhotos"
  [currentPhotoIndex]="currentPhotoIndex"
  (emitClose)="closePreview()"
></app-photo-preview>
