<ng-container *ngIf="matchedPhotos.length > 0; else noPhotos">
  <div
    class="gallery"
    [style.gridTemplateColumns]="
      'repeat(' + itensPerRowHolderService.photosPerRow + ', 1fr)'
    "
    [style.gridGap]="galleryGap"
  >
    <div
      class="photo-card"
      *ngFor="let photo of matchedPhotos; let i = index"
      (click)="onPhotoClick(photo, i)"
      (dblclick)="onPhotoDblClick(i)"
      [class.selected]="isPhotoSelected(photo)"
    >
      <div class="photo-container">
        <img
          [src]="photo.photoUrl | photoUrl"
          alt="Photo"
          (load)="onImageLoad($event, i)"
        />
        <div
          *ngIf="showBoundingBox"
          class="bounding-box"
          [ngStyle]="getBoundingBoxStyle(photo, i)"
        ></div>
      </div>
    </div>
  </div>
</ng-container>

<app-matched-faces-gallery-toolbar
  (toggleDownloadPhotos)="onDownload()"
  (toggleUploadModal)="onUpload()"
  (toggleBoundingBox)="toggleBoundingBox()"
></app-matched-faces-gallery-toolbar>

<ng-template #noPhotos>
  <div class="no-photos-message">Nenhuma Foto Disponível</div>
</ng-template>

<app-photo-preview
  *ngIf="showPhotoPreview"
  [photos]="matchedPhotos"
  [currentPhotoIndex]="currentPhotoIndex"
  (emitClose)="closePreview()"
></app-photo-preview>
