.header {
  padding: 20px 120px 0 120px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid var(--border-color);
    padding-bottom: 20px;

    &--centered {
      justify-content: center;
    }
  }

  .brand {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Pacifico", cursive;
    font-style: normal;
  }

  .event-info {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .event-name {
    font-size: 2.5rem;
    margin-left: 6px;
  }
}
