.header {
  padding: 10px 120px;
  border-bottom: 0.1px solid var(--border-color);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--centered {
      justify-content: center;
    }

    .event-info {
      display: flex;
      align-items: end;

      .event-name {
        font-size: 2rem;
        margin-right: 10px;
        margin-bottom: -2px;
      }
    }
  }
}
